body {
  background: #073648;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.5s ease-in;
}

a:hover {
  color: rgb(250, 145, 145);
}

a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s linear;
}

a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

h1 {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
