* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

#rocketGame {
  background: #073648;
}

#rocketIcon {
  display: none;
  /*   stroke: 1px white; */
}

.score {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#score {
  color: #eee;
}
